@using Kendo.Mvc.UI
@using SupportMe.Web.Areas.Admin.Models.Contacts
@model ContactIndexViewModel
@{
    ViewBag.Title = "Contacts";
}
<div class="row">
    <h1>Contact Panel</h1>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Contacts</h3>
        </div>
        <div class="panel-body">
            <div id="set-massage"></div>
            <div class="table-responsive">
                @(Html.Kendo()
                  .Grid<ContactViewModel>()
                  .Name("addresses-grid")
                  .Columns(colums =>
                  {
                      colums.Bound(col => col.Id);
                      colums.Bound(col => col.Email);
                      colums.Bound(col => col.PhoneNumber);
                      colums.Bound(col => col.AddressName);
                      if (Model.Selectable)
                      {
                          colums.Bound(col => col.Id)
                              .ClientTemplate(
                                Ajax.ActionLink(
                                    $"Set this for {Model.Holder}",
                                    "SetTo",
                                    "Contact",
                                    new { contactId = "#: Id#", id = Model.HolderId, holder = Model.Holder },
                                    new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                    },
                                    new { @class = "btn btn-success", data_ajax_update = "\\#set-massage" })
                                    .ToString())
                              .HeaderTemplate($"Set this for {Model.Holder}")
                              .Width(30);
                      }
                      colums.Command(comand => comand.Edit());
                      colums.Command(comand => comand.Destroy());
                  })
                  .ColumnMenu()
                  .ToolBar(tools =>
                  {
                      tools.Create().Text("Add new Contact");
                      tools.Excel().Text("Export Contacts to Excel");
                  })
                  .Editable(edit => edit.Mode(GridEditMode.PopUp))
                  .Pageable(page => page.Refresh(true))
                  .Sortable()
                  .Filterable()
                  .Excel(excel =>
                  {
                      excel.AllPages(true);
                      excel.FileName("Contacts_" + DateTime.Now.ToString() + ".xlsx");
                      excel.Filterable(true);
                      excel.ProxyURL(Url.Action("ExportToExcel", "Contact"));
                  })
                  .Groupable()
                  .DataSource(datasource =>
                  {
                      datasource
                          .Ajax()
                          .PageSize(10)
                          .Model(m => m.Id(model => model.Id))
                          .Read(read => read.Action("Read", "Contact"))
                          .Create(create => create.Action("Create", "Contact"))
                          .Update(update => update.Action("Update", "Contact"))
                          .Destroy(destroy => destroy.Action("Destroy", "Contact"));
                  }))
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="http://kendo.cdn.telerik.com/2016.1.112/js/jszip.min.js"></script>
    @Scripts.Render("~/bundles/jqueryuno")
}