@using SupportMe.Web.Areas.Admin.ViewModels.Users
@{
    ViewBag.Title = "Users";
}
@Html.Partial("_ManagmentHeader")
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            @(Html.Kendo()
                  .Grid<UserViewModel>()
                  .Name("my-kendo-grid")
                  .Columns(colums =>
                  {
                      colums.Bound(col => col.Id);
                      colums.Bound(col => col.UserName);
                      colums.Bound(col => col.Email);
                      colums.Bound(col => col.FirstName);
                      colums.Bound(col => col.LastName);
                      colums.Bound(col => col.LocationName);
                      colums.Bound(col => col.Id)
                          .ClientTemplate("<a href='/Admin/Contact/Index/#: Id#/User' class='btn btn-primary'>Set</a>")
                          .HeaderTemplate("Set user contact");
                      colums.Command(comand => comand.Edit());
                      colums.Command(comand => comand.Destroy());
                  })
                  .ColumnMenu()
                  .ToolBar(tools =>
                  {
                      tools.Excel().Text($"Export {ViewBag.Title} to Excel");
                  })
                  .Editable(edit => edit.Mode(GridEditMode.PopUp))
                  .Pageable(page => page.Refresh(true))
                  .Sortable()
                  .Filterable()
                  .Groupable()
                  .Excel(excel =>
                  {
                      excel.AllPages(true);
                      excel.FileName("Addresses_" + DateTime.Now.ToString() + ".xlsx");
                      excel.Filterable(true);
                      excel.ProxyURL(Url.Action("ExportToExcel", "Address"));
                  })
                  .DataSource(datasource =>
                  {
                      datasource
                          .Ajax()
                          .PageSize(10)
                          .Model(m => m.Id(x => x.Id))
                          .Read(read => read.Action("Read", "User"))
                          .Update(update => update.Action("Update", "User"))
                          .Destroy(destroy => destroy.Action("Destroy", "User"))
                          .Events(events => events.Error("onGridValidationError"));
                  }))
        </div>
    </div>
</div>

@section scripts {
    <script src="http://kendo.cdn.telerik.com/2016.1.112/js/jszip.min.js"></script>
    @Scripts.Render("~/bundles/pagespecific");
}