@model SupportMe.Web.ViewModels.Ticket.CreateTicketViewModel
@{
    ViewBag.Title = "Create new ticket";
}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h2>Create new Ticket</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal well" method="post">
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Ticket</legend>
                @Html.EditorFor(m => m.Ticket)
                <legend>Your Message</legend>
                @Html.EditorFor(m => m.Message)
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Create">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
