@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-md-10">
        @RenderBody()
    </section>
    <aside class="col-md-2">
        @RenderSection("support-sidebar", required: false)
    </aside>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
