@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-md-10">
        @RenderBody()
    </section>
    <section class="col-md-2">
        @*Render Action with tickets*@
    </section>
</div>

