@using Kendo.Mvc.UI
@using SupportMe.Web.Areas.Admin.Models
@{
    ViewBag.Title = "Companies";
}
<div class="row">
    <h1>Company Administration Panel</h1>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Companies</h3>
        </div>
        <div class="panel-body">
            @(Html.Kendo()
              .Grid<CompanyViewModel>()
              .Name("companies-grid")
              .Columns(colums =>
              {
                  colums.Bound(col => col.Id);
                  colums.Bound(col => col.Name);
                  colums.Bound(col => col.ContactId);
                  colums.Command(comand => comand.Edit());
                  colums.Command(comand => comand.Destroy());
              })
              .ColumnMenu()
              .ToolBar(tools => tools.Create().Text("Add new Company"))
              .Editable(edit => edit.Mode(GridEditMode.PopUp))
              .Pageable(page => page.Refresh(true))
              .Sortable()
              .Filterable()
              .Groupable()
              .DataSource(datasource =>
              {
                  datasource
                      .Ajax()
                      .PageSize(10)
                      .Model(m => m.Id(company => company.Id))
                      .Read(read => read.Action("Read", "Company"))
                      .Create(create => create.Action("Create", "Company"))
                      .Update(update => update.Action("Update", "Company"))
                      .Destroy(destroy => destroy.Action("Destroy", "Company"));
              }))
        </div>
    </div>
</div>
