@using SupportMe.Common.Constants
<li class="dropdown-header">Infrastructure</li>
<li>@Html.ActionLink("Companies", "Index", "Company", new { area = MvcArea.Admin }, null)</li>
<li>@Html.ActionLink("Locations", "Index", "Location", new { area = MvcArea.Admin }, null)</li>
<li>@Html.ActionLink("Contacts", "Index", "Contact", new { area = MvcArea.Admin }, null)</li>
<li>@Html.ActionLink("Addresses", "Index", "Address", new { area = MvcArea.Admin }, null)</li>
<li class="divider"></li>
<li><a href="#">Separated link</a></li>
