@using SupportMe.Common.Constants
<li class="dropdown-header">Tickets</li>
<li><a href="/Dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
<li><a href="@MvcArea.Support/Ticket/Create"><span class="glyphicon glyphicon-send"></span> Create ticket</a></li>
